    <!-- About Section -->
    <section id="about">

        <div class="container">

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">about</h2>
                    <h3 class="text-center">
                        i am <br>
                        a computer science student <br>
                        a software engineering student <br>
                        a coder <br>
                        a programmer <br>
                        a developer <br>
                        an aspiring hacker <br>
                        a fan of lowercase characters <br>
                    </h3>
                </div>
            </div>

        </div>

        <div class="text-center">
            <a href="/resume/ibrahim_sikiru_resume.pdf" class="btn btn-xl">
                <i class="fa fa-download"></i> get my r&eacute;sum&eacute;
            </a>
        </div>

    </section>