    <!-- Error Section -->
    <section id="error">

        <div class="container">

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">are you lost?</h2>
                </div>
            </div>

            <div class="row text-center">
                <p class="text-muted">i don't think i have a page named that</p>
            </div>

            <div class="text-center">
                <a href="/" class="btn btn-xl">let's just go home</a>
            </div>

        </div>

    </section>