    <!-- Navigation Section -->
    <nav class="navbar navbar-default navbar-fixed-top {% if page.title %}navbar-shrink{% endif %}">

        <div class="container">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header {% if page.title %}{% else %}page-scroll{% endif %}">

                <a class="navbar-brand {% if page.title %}{% else %}page-scroll{% endif %}" href="{%if page.title %}/{% endif %}#page-top">
                    <div>
                        {% image logos/favicon-32x32.png alt="iamtheib logo" %}
                        {{ site.owner }}
                    </div>
                </a>

                <a href="#nav-menu" class="btn btn-burger burger-menu">
                    <i class="fa fa-bars"></i>
                </a>

                <a class="btn btn-burger search-icon search-btn">
                    <i class="fa fa-search"></i>
                </a>

                <div class="col-sm-3 col-md-3 search-field" style="display: none;">
                    <form class="navbar-form" role="search" action="#" method="get">
                        <div class="input-group">
                            <input type="text" id="search-query" name="q" placeholder="search" autocomplete="off">
                        </div>
                    </form>
                </div>

            </div>

            <div id="nav-menu">
                <a class="btn btn-burger close-menu">
                    <i class="fa fa-times"></i>
                </a>

                <a class="btn btn-burger sidebar-search search-btn">
                    <i class="fa fa-search"></i>
                </a>

                <div class="nav-side-bar">
                    <ul class="nav">
                        {% if page.title %}
                        {% else %}
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        {% endif %}
                        <li>
                            <a class="{% if page.title %}{% else %}page-scroll{% endif %}" href="{%if page.title %}/{% endif %}#portfolio">portfolio</a>
                        </li>
                        <li>
                            <a class="{% if page.title %}{% else %}page-scroll{% endif %}" href="{%if page.title %}/{% endif %}#about">about</a>
                        </li>
                        <li>
                            <a class="{% if page.title %}{% else %}page-scroll{% endif %}" href="{%if page.title %}/{% endif %}#contact">contact</a>
                        </li>
                        {% for network in site.social %}
                        <li>
                            <a href="{{ network.url }}">
                                <i class="fa fa-{{ network.title }}"></i>
                            </a>
                        </li>
                        {% endfor %}
                        {% if site.email %}
                        <li>
                            <script>
                                mail2("{{ site.email.name }}",
                                      "{{ site.email.domain }}",
                                      "{{ site.email.tld }}",
                                      "",
                                      "<i class=\"fa fa-envelope\"></i>");
                            </script>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>

        </div>

    </nav>