    <!-- Portfolio Modals -->
    {% for project in site.categories.projects limit:3 %}
    <div class="portfolio-modal modal fade" id="{{ project.project-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ project.title }}</h2>
                            <h3>{{ project.start-date }}</h3>
                            <hr class="star-primary">
                            <img src="{{ project.img | prepend: 'projects/' | asset_path }}" class="img-responsive img-centered" alt="{{ project.image-alt }}">

                                {{ project.content }}

                            <ul class="list-inline">
                                {% if project.dist %}
                                <li>
                                    <a href="/dist/{{ project.dist }}" class="btn btn-xl">download</a>
                                </li>
                                {% endif %}
                                <li>
                                    <a href="{{ project.src }}" class="btn btn-xl">view source</a>
                                </li>
                            </ul>


                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}