    <!-- Rambles Section -->
    <section id="rambles">

        <div class="container">

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">rambles</h2>
                    <h3 class="section-subheading text-muted">
                        I rememeber being asked by my supervisor at work
                        to walk him through a piece of code I had just
                        written. The task seemed easy enough, afterall,
                        I wrote the code myself. Funny enough, I found I was just rambling and spitting back each line
                        of code to him most of the time. It wasn't that
                        I didn't understand what I had just written, I just lacked the right vocabulary to explain my code in the simplest of terms.
                    </h3>
                    <h3 class="section-subheading text-muted">
                        From this realization, I decided to task myself
                        with writing about some of my experiences and
                        interests, in the simplest of terms. Some of
                        these writings might seem like tutorials (I can't
                        help it, I need to include some code), however,
                        they are just intended as a way to practice
                        putting some of my thoughts and actions into
                        writing (well... fine... it's a blog).
                    </h3>
                </div>
            </div>

            <div class="text-center">
                <a href="/all-rambles" class="btn btn-xl">read my thoughts</a>
            </div>

        </div>

    </section>