//= require pace.css

body {
    color: #fff;
    background-color: #080808;
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover,
a:focus,
a:active,
a.active {
    color: #fff;
}

.btn {
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    font-family: 'Oleo Script', cursive;
}

.btn-circle {
    padding: 5px 30px;
    border: 2px solid #fff;
    border-radius: 100% !important;
    font-size: 3em;
    font-weight: 700;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    -o-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus,
.btn-circle:active,
.btn-circle.active {
    color: #fff;
    background: rgba(255,255,255,.1);
}

.btn-circle:active,
.btn-cirle.active {
    background-image: none;
}

.btn-circle.disabled,
.btn-circle[disabled],
fieldset[disabled] .btn-circle,
.btn-circle.disabled:hover,
.btn-circle[disabled]:hover,
fieldset[disabled] .btn-circle:hover,
.btn-circle.disabled:focus,
.btn-circle[disabled]:focus,
fieldset[disabled] .btn-circle:focus,
.btn-circle.disabled:active,
.btn-circle[disabled]:active,
fieldset[disabled] .btn-circle:active,
.btn-circle.disabled.active,
.btn-circle[disabled].active,
fieldset[disabled] .btn-circle.active {
    color: #fff;
    background: rgba(255,255,255,.1);
}

.btn-circle .badge {
    color: #fff;
    background: rgba(255,255,255,.1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 0.3s;
    -o-transition-property: -o-transform;
    -o-transition-duration: 0.3s;
    transition-property: transform;
    transition-duration: 0.3s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 0.3s;
    -moz-animation-duration: 0.3s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

.btn-custom {
    border: 2px solid #fff;
    color: #fff;
    background-color: #000;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active {
    border-color: #000;
    color: #000;
    background-color: #fff;
}

.btn-custom:active,
.btn-custom.active {
    background-image: none;
}

.btn-custom.disabled,
.btn-custom[disabled],
fieldset[disabled] .btn-custom,
.btn-custom.disabled:hover,
.btn-custom[disabled]:hover,
fieldset[disabled] .btn-custom:hover,
.btn-custom.disabled:focus,
.btn-custom[disabled]:focus,
fieldset[disabled] .btn-custom:focus,
.btn-custom.disabled:active,
.btn-custom[disabled]:active,
fieldset[disabled] .btn-custom:active,
.btn-custom.disabled.active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom.active {
    border-color: #000;
    background-color: #fff;
}

.btn-custom .badge {
    border-color: #000;
    background-color: #fff;
}

.btn-lg {
    font-weight: 400;
}

.btn-xl {
    padding: 15px 22px;
    border-radius: 6px;
    font-size: 1.5em;
    font-weight: 700;
}

.site-owner {
    font-family: 'Walter Turncoat', cursive;
}

header {
    text-align: center;
    color: #fff;
    border-bottom: 3px solid rgba(255,255,255,.3);
}

header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
}

header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-size: 2em;
    font-style: italic;
    line-height: 22px;
}

header .intro-text .intro-heading {
    margin-bottom: 25px;
    font-family: 'Oleo Script', cursive;
    font-size: 4em;
    font-weight: 700;
    line-height: 50px;
}

@media(min-width:767px) {
    header .intro-text {
        padding-top: 300px;
        padding-bottom: 200px;
    }

    header .intro-text .intro-lead-in {
        margin-bottom: 25px;
        font-size: 3em;
        font-style: italic;
        line-height: 40px;
    }

    header .intro-text .intro-heading {
        margin-bottom: 50px;
        font-size: 5em;
        line-height: 75px;
    }
}

section {
    padding: 100px 0;
    background: transparent;
    color: #fff;
    border-bottom: 3px solid rgba(255,255,255,.3);
    text-align: left;
}

section .section-heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-family: 'Oleo Script', cursive;
    font-size: 3em;
    font-weight: 700;
}

section#contact .section-subheading {
    font-size: 1.2em;
    font-weight: 400;
}

section#contact ul.social-buttons li a {
    display: block;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 1.6em;
    line-height: 40px;
    border-color: #fff;
    color: #fff;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

section#contact ul.social-buttons li a:hover,
section#contact ul.social-buttons li a:focus,
section#contact ul.social-buttons li a:active {
    border-color: #fff;
    color: #000;
    background-color: #fff;
}

section#contact .form-group {
    margin-bottom: 25px;
}

section#contact .form-control {
    color: #fff;
}

section#contact .form-group input,
section#contact .form-group textarea {
    padding: 20px;
    font-weight: 600;
}

section#contact .form-group input.form-control,
section#contact .form-group textarea.form-control {
    background: none;
}

section#contact .form-group input.form-control {
    height: auto;
}

section#contact .form-group textarea.form-control {
    height: 236px;
}

section#contact .form-control {
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

section#contact .form-control:focus {
    border: 2px solid #fff;
    box-shadow: none;
}

section#contact .form-control::-webkit-input-placeholder {
    color: #686868;
    font-style: italic;
    font-weight: 400;
}

section#contact .form-control:-moz-placeholder {
    color: #686868;
    font-style: italic;
    font-weight: 400;
}

section#contact .form-control::-moz-placeholder {
    color: #686868;
    font-style: italic;
    font-weight: 400;
}

section#contact .form-control:-ms-input-placeholder {
    color: #686868;
    font-style: italic;
    font-weight: 400;
}

section#contact .text-danger {
    color: #e74c3c;
}

footer {
    padding: 25px 0;
    text-align: center;
    background-color: #000;
}

footer span.copyright {
    font-weight: 600;
    line-height: 40px;
    color: #fff
}

footer .btn-circle {
    font-size: 2em;
}
