//= require pace.css
//= require jquery.sidr.dark.css

::-moz-selection {
    text-shadow: none;
    background: #000;
}

::selection {
    text-shadow: none;
    background: #000;
}

body {
    font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #000;
    webkit-tap-highlight-color: #000;
}

a {
    color: #0ff;
    text-decoration: none;
}

a:hover,
a:focus,
a:active,
a.active {
    color: #0cc;
}

img::-moz-selection {
    background: 0 0;
}

img::selection {
    background: 0 0;
}

.img-centered {
    margin: 0 auto;
}

.btn {
    font-family: "Indie Flower","Helvetica Neue",Helvetica,Arial,sans-serif;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}

.btn-burger {
    font-size: 1em;
    color: #fff;
}

.btn-burger:hover,
.btn-burger:focus,
.btn-burger:active,
.btn-burger.active,
.open .dropdown-toggle.btn-burger {
    color: #fff;
    font-size: 1em;
}

.btn-burger:active,
.btn-burger.active,
.open .dropdown-toggle.btn-burger {
    background-image: none;
}

.btn-burger.disabled,
.btn-burger[disabled],
fieldset[disabled] .btn-burger,
.btn-burger.disabled:hover,
.btn-burger[disabled]:hover,
fieldset[disabled] .btn-burger:hover,
.btn-burger.disabled:focus,
.btn-burger[disabled]:focus,
fieldset[disabled] .btn-burger:focus,
.btn-burger.disabled:active,
.btn-burger[disabled]:active,
fieldset[disabled] .btn-burger:active,
.btn-burger.disabled.active,
.btn-burger[disabled].active,
fieldset[disabled] .btn-burger.active {
    border-color: #fff;
    background-color: #fff;
}

.btn-burger .badge {
    color: #fff;
    background-color: #fff;
}

@media(min-width:767px) {
    .btn-burger {
        font-size: 1.5em;
    }

    .btn-burger:hover,
    .btn-burger:focus,
    .btn-burger:active,
    .btn-burger.active,
    .open .dropdown-toggle.btn-burger {
        font-size: 2em;
    }
}

.btn-circle {
    padding: 5px 30px;
    border: 2px solid #fff;
    border-radius: 100%!important;
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    -o-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus,
.btn-circle:active,
.btn-circle.active,
.open .dropdown-toggle.btn-circle {
    color: #fff;
    background: rgba(255,255,255,.1);
}

.btn-circle:active,
.btn-cirle.active,
.open .dropdown-toggle.btn-circle {
    background-image: none;
}

.btn-circle.disabled,
.btn-circle[disabled],
fieldset[disabled] .btn-circle,
.btn-circle.disabled:hover,
.btn-circle[disabled]:hover,
fieldset[disabled] .btn-circle:hover,
.btn-circle.disabled:focus,
.btn-circle[disabled]:focus,
fieldset[disabled] .btn-circle:focus,
.btn-circle.disabled:active,
.btn-circle[disabled]:active,
fieldset[disabled] .btn-circle:active,
.btn-circle.disabled.active,
.btn-circle[disabled].active,
fieldset[disabled] .btn-circle.active {
    color: #fff;
    background: rgba(255,255,255,.1);
}

.btn-circle .badge {
    color: #fff;
    background: rgba(255,255,255,.1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 0.3s;
    -o-transition-property: -o-transform;
    -o-transition-duration: 0.3s;
    transition-property: transform;
    transition-duration: 0.3s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 0.3s;
    -moz-animation-duration: 0.3s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

.btn-custom {
    border-color: #0ff;
    color: #0ff;
    background-color: #000;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active,
.open .dropdown-toggle.btn-custom {
    border-color: #0cc;
    color: #000;
    background-color: #0cc;
}

.btn-custom:active,
.btn-custom.active,
.open .dropdown-toggle.btn-custom {
    background-image: none;
}

.btn-custom.disabled,
.btn-custom[disabled],
fieldset[disabled] .btn-custom,
.btn-custom.disabled:hover,
.btn-custom[disabled]:hover,
fieldset[disabled] .btn-custom:hover,
.btn-custom.disabled:focus,
.btn-custom[disabled]:focus,
fieldset[disabled] .btn-custom:focus,
.btn-custom.disabled:active,
.btn-custom[disabled]:active,
fieldset[disabled] .btn-custom:active,
.btn-custom.disabled.active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom.active {
    border-color: #0ff;
    background-color: #fff;
}

.btn-custom .badge {
    border-color: #0ff;
    background-color: #fff;
}

.btn-lg {
    font-weight: 500;
}

.btn-xl {
    padding: 15px 22px;
    border-radius: 6px;
    font-size: 20px;
    font-weight: 700;
}

.navbar .navbar-default .navbar-fixed-top {
    z-index: 99;
}

.navbar-default {
    border-color: transparent;
    background-color: #000;
}

.navbar-header {
    width: 100%;
    text-align: center;
}

.navbar-default .navbar-brand {
    font-family: "Rock Salt","Helvetica Neue",Helvetica,Arial,cursive;
    color: #fff;
    font-size: 1em;
    padding: 5px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #fff;
    font-size: 1.5em;
}

.navbar-default .nav li a {
    font-family: "Indie Flower","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
    outline: none;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    font-size: 1.5em;
    color: #fff;
    background-color: transparent;
}

.navbar-default .list-inline {
    text-align: center;
}

.navbar-default .list-inline li {
    display: inline-block;
}

.navbar-default .list-inline li a {
    padding: 0 15px;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    border-radius: 0;
    background-color: #fff;
    color: #000;
}

@media(min-width:767px) {
    .navbar-default {
        padding: 25px 0;
        border: 0;
        background-color: transparent;
        -webkit-transition: padding .2s;
        -moz-transition: padding .2s;
        -o-transition: padding .2s;
        transition: padding .2s;
    }

    .navbar-default .navbar-brand {
        font-size: 1.5em;
        -webkit-transition: all .2s;
        -moz-transition: all .2s;
        -o-transition: all .2s;
        transition: all .2s;
    }

    .navbar-default.navbar-shrink {
        padding: 10px 0;
        background-color: #000;
        border-bottom: 1px solid rgba(255,255,255,.3);
    }

    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }

    .navbar-default .navbar-brand:hover,
    .navbar-default .navbar-brand:focus,
    .navbar-default .navbar-brand:active,
    .navbar-default .navbar-brand.active {
        font-size: 2.5em;
    }
}

.burger-menu {
    float: right;
    padding: 5px;
}

.close-menu {
    float: left;
    width: 50px;
    height: 50px;
}

.sidr ul,
.sidr ul li {
    border: none !important;
}

.sidr a {
    text-align: center;
}

.nav-side-bar {
    margin-top: 50px;
}

#nav-menu {
    padding: 15px;
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    border-color: #0ff;
    color: #0ff;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    border-color: #0cc;
    color: #000;
    background-color: #0cc;
}

header {
    text-align: center;
    color: #fff;
    border-bottom: 3px solid rgba(255,255,255,.3);
}

header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
}

header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
}

header .intro-text .intro-heading {
    margin-bottom: 25px;
    font-family: "Indie Flower","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
}

@media(min-width:767px) {
    header .intro-text {
        padding-top: 300px;
        padding-bottom: 200px;
    }

    header .intro-text .intro-lead-in {
        margin-bottom: 25px;
        font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
    }

    header .intro-text .intro-heading {
        margin-bottom: 50px;
        font-family: "Indie Flower","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
    }
}

section {
    padding: 100px 0;
    background: transparent;
    color: #fff;
    border-bottom: 3px solid rgba(255,255,255,.3);
}

section .section-heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 40px;
    font-family: "Indie Flower","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

section .section-subheading {
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    text-align: left;
}

section ul.section-subheading {
    margin-bottom: 25px;
    list-style-type: circle;
}

#portfolio .portfolio-item {
    margin: 15px auto;
    max-width: 400px;
}

#portfolio .portfolio-item .img-responsive {
    width: 100%;
}

#portfolio .portfolio-item .portfolio-caption {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #fff;
    border-top: 3px solid rgba(0,0,0,.3);
    color: #000;
}

#portfolio .portfolio-item .portfolio-caption .title {
    margin: 0;
}

#portfolio .portfolio-item .portfolio-caption .actions {
    padding-top: 10px;
}

section#contact .section-heading {
    color: #fff;
}

section#contact .form-group {
    margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
    padding: 20px;
}

section#contact .form-group input.form-control {
    height: auto;
    background: none;
}

section#contact .form-group textarea.form-control {
    height: 236px;
    background: none;
}

section#contact .form-control {
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

section#contact .form-control:focus {
    border: 2px solid #fff;
    box-shadow: none;
}

section#contact .form-control::-webkit-input-placeholder {
    font-family: "Indie Flower","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact .form-control:-moz-placeholder {
    font-family: "Indie Flower","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact .form-control::-moz-placeholder {
    font-family: "Indie Flower","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact .form-control:-ms-input-placeholder {
    font-family: "Indie Flower","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact .text-danger {
    color: #e74c3c;
}

footer {
    padding: 25px 0;
    text-align: center;
    background-color: #000;
}

footer span.copyright {
    font-family: "Indie Flower","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 600;
    line-height: 40px;
    color: #fff
}

footer .btn-circle {
    font-size: 22px;
}