<!DOCTYPE html>

<html>

    <head>

        {% include head.html %}

    </head>

    <body id="page-top" class="index">

        <div id="main" style="display: none">

            {% include navigation.html %}
            {% include search.html %}
            {% include header.html %}
            {% include portfolio.html %}
            {% include about.html %}
            {% include contact.html %}
            {% include footer.html %}
            {% include portfolio-modals.html %}
            {% include js.html %}

        </div>

    </body>

</html>
